<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<section class="container p-5">
    <article class="mx-auto form-container">
        <h6>Login</h6>
        <form class="" method="post" action="/login">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image-file" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
            <br>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" onclick="uploadImage()">Button</button>
            </div>
        </div>

    </article>
    <article class="pictures">
        <img src="https://mypicturesbucket2020.s3.us-east-2.amazonaws.com/coffee-cup-working-happy.jpg"/>
    </article>

</section>
<script>
    function uploadImage() {
        let imgFile = document.getElementById('inputGroupFile04').files[0];
        const formData = new FormData();
        formData.append('image-file', imgFile, imgFile.name);
        console.log(imgFile);
        fetch('/upload-image', {method: 'POST', body:formData}).then(resp => {
           console.log(resp);
        });
    }
</script>
</body>
</html>